[submodule "ressources/MatchMaker/correction/1665806-Programmez-en-oriente-objet-PHP"]
	path = ressources/MatchMaker/correction/1665806-Programmez-en-oriente-objet-PHP
	url = git@github.com:OpenClassrooms-Student-Center/1665806-Programmez-en-oriente-objet-PHP.git
