#Alternate default index page
DirectoryIndex /public/index.php

RewriteEngine on
Options +FollowSymlinks
#RewriteBase /

RewriteRule ^articles   ?action=archive
RewriteRule ^ajout-article   ?action=addPost
RewriteRule ^contact    ?action=contact
RewriteRule ^inscription    ?action=register
RewriteRule ^connexion  ?action=login
RewriteRule ^deconnexion    ?action=logoutUser
RewriteRule ^authentification   ?action=AuthenticationUser
RewriteRule ^gestion-commentaires   ?action=manageComments
RewriteRule ^article/([0-9]+)   ?action=post&id=$1
RewriteRule ^article/modification/([0-9]+)   ?action=updatePost&id=$1
RewriteRule ^article/suppression/([0-9]+)   ?action=deletePost&id=$1
RewriteRule ^commentaire/suppression/([0-9]+)   ?action=deleteComment&id=$1
RewriteRule ^commentaire/modification/([0-9]+)   ?action=updateComment&id=$1
RewriteRule ^commentaire/validation/([0-9]+)   ?action=showComment&id=$1
RewriteRule ^commentaire/annulation/([0-9]+)   ?action=hideComment&id=$1

