{% block footer %}
  <footer>
    <div class="top-section">
      <div class="wrapper">
{#        <div >#}
          <a class="logo" href="#">
            <img src="./ressources/images/logo-white.svg" alt="">
            <p>Florian Jourde</p>
          </a>
{#        </div>#}
      </div>
    </div>
    <div class="bottom-section">
      <div class="wrapper">
        <div class="legal">
          <p class="copyright">Copyright © 2022</p>
          <p class="rights">Tous droits réservés</p>
        </div>
        <div class="links">
          <ul>
            <li><a href="mailto:jourdeflorian@gmail.com"><i class="fas fa-envelope"></i></a></li>
            <li><a href=""><i class="fab fa-github"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}