{% block navbar %}
  <nav>
    <div class="navbar{# padding-20#}">
        <div class="wrapper">
            {# {{ dump(session) }} #}
            <div class="logo">
                <a href="/">
                    <img src="/public/ressources/images/logo.svg" alt=""> Florian <br> Jourde
                </a>
            </div>
            <a type="button" class="open-menu mobile-only"><i class="fas fa-bars"></i></a>
            <div class="menu desktop-only">
{#                <a type="button" class="close-menu"><i class="fas fa-times"></i></a>#}
                <ul class="navigation-links">
                    <li><a class="button-tertiary button-dark-yellow" href="?action=archive">Articles</a></li>
                    <li><a class="button-tertiary button-dark-yellow" href="?action=contact">Contact</a></li>
                </ul>
                {% if session.is_authenticated != true %}
                    <ul class="navigation-user">
                        <li><a class="button-secondary button-black" href="?action=register"><i class="fas fa-user-plus"></i>S'enregistrer</a></li>
                        <li><a class="button-primary button-black" href="?action=login"><i class="fas fa-sign-in-alt"></i>Se connecter</a></li>
                    </ul>
                {% else %}
                    <ul class="navigation-user">
                        <li><a class="button-primary button-black" href="?action=logoutUser"><i class="fas fa-sign-out-alt"></i>Se déconnecter</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
  {% if session.role == 'Admin' %}
      <div class="navbar-manager">
          <div class="wrapper">
              <ul>
                  {% if (post is not empty) and (post.identifier is not empty) %}
                      <li><a href="?action=updatePost&id={{ post.identifier }}">Modifier l'article</a></li>
                      <li><a href="?action=deletePost&id={{ post.identifier }}">Supprimer l'article</a></li>
                  {% endif %}
                  <li><a class="button-tertiary button-white" href="?action=manageComments">Gestion des commentaires</a></li>
                  <li><a class="button-tertiary button-white" href="?action=addPost">Ajouter un article</a></li>
              </ul>
          </div>
          {# </div> #}
      </div>
  {% endif %}
  </nav>
    <div id="mobile-menu" class="menu mobile-only">
        <a type="button" class="close-menu"><i class="fas fa-times"></i></a>
        <ul class="navigation-links">
            <li><a class="button-tertiary button-white" href="?action=archive">Articles</a></li>
            <li><a class="button-tertiary button-white" href="?action=contact">Contact</a></li>
        </ul>
        {% if session.is_authenticated != true %}
            <ul class="navigation-user">
                <li><a class="button-secondary button-white" href="?action=register"><i class="fas fa-user-plus"></i>S'enregistrer</a></li>
                <li><a class="button-primary button-white" href="?action=login"><i class="fas fa-sign-in-alt"></i>Se connecter</a></li>
            </ul>
        {% else %}
            <ul class="navigation-user">
                <li><a class="button-primary button-white" href="?action=logoutUser"><i class="fas fa-sign-out-alt"></i>Se déconnecter</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}