{% block navbar %}
  <nav>
    <div class="navbar padding-20">
        <div class="wrapper">
          {# {{ dump(session) }} #}
          <div class="logo">
            <a href="index.php">
            <img src="./ressources/images/logo.svg" alt=""> Florian <br> Jourde
            </a>
          </div>
          <ul class="navigation">
            <li><a class="button-tertiary" href="index.php?action=archive">Articles</a></li>
            <li><a class="button-tertiary" href="index.php?action=contact">Contact</a></li>
          </ul>
            {% if session.is_authenticated != true %}
            <ul class="navigation user-navigation">
              <li><a class="button-secondary" href="index.php?action=register">S'enregistrer</a></li>
              <li><a class="button-primary" href="index.php?action=login">Se connecter</a></li>
            </ul>
            {% else %}
            <ul class="navigation user-navigation">
              <li><a class="button-primary" href="index.php?action=logoutUser">Se déconnecter</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
  {% if session.role == 'Admin' %}
      <section class="navbar-manager">
          <div class="wrapper">
              <ul>
                  {% if (post is not empty) and (post.identifier is not empty) %}
                          <li><a href="index.php?action=updatePost&id={{ post.identifier }}">Modifier l'article</a></li>
                          <li><a href="index.php?action=deletePost&id={{ post.identifier }}">Supprimer l'article</a></li>
                  {% endif %}
                  <li><a class="button-tertiary" href="index.php?action=manageComments">Gestion des commentaires</a></li>
                  <li><a class="button-tertiary" href="index.php?action=addPost">Ajouter un article</a></li>
              </ul>
          </div>
          {# </div> #}
      </section>
  {% endif %}
  </nav>
{% endblock %}