<div class="wrapper">
  <div class="announcement">
    <div class="announcement-content">
      <div class="announcement-header">
        <img src="/ressources/images/logos/quizstack-logo.png" class="quizstack-logo" loading="lazy"
          alt="quizstack-logo">
        <h2>Quizstack</h2>
      </div>
      <div>
        <p>Quizstack est une plateforme d'apprentissage gratuite pour développeurs web de tous niveaux. Testez vos
          connaissances parmi plus de 1 000 questions couvrant 12 domaines essentiels du développement.</p>
        <p>Notre interface mobile vous permet d'apprendre partout, de comparer vos scores avec d'autres utilisateurs et
          de contribuer à notre base de questions.</p>
      </div>
      <!-- <p>Renforcez vos compétences techniques avec des défis interactifs et rejoignez notre communauté grandissante.</p> -->
      <a class="button-secondary rotate-icon button-white" href="https://quizstack.io/" target="_blank">Voir le site<i
          class="fas fa-arrow-right"></i></a>
    </div>
    <img src="/ressources/images/decoration/quizstack-mockup.png" class="quizstack-mockup" loading="lazy"
      alt="Quizstack mockup">
  </div>
</div>