<section
	class="testimonials position-relative">

	{# <svg class="vector-shape {{ fill }} vector-shape-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
		        <use href="/ressources/images/vectors/vector-top-left-2.svg#swoop-2-bottom-left-white"/>
		    </svg> #}

	<div class="wrapper">
		<h2 class="section-title">Recommandations</h2>
		<div class="swiper swiper-testimonials">
			<div class="swiper-wrapper">
				<div class='testimonial-container swiper-slide'>
					<div class="box">
						<div class='testimonial-content fs-regular-text'>
							<div class='testimonial-description'>
								<p>Pendant deux ans, Florian a fait preuve d'un engagement constant et d'une grande implication au sein de l'équipe. Il s'intéresse sincèrement aux personnes qui l'entourent, ce qui en fait un collègue à la fois bienveillant et très apprécié.</p>
								<p>Sur le plan professionnel, Florian est passionné par l'IT et le développement. Il se tient continuellement informé des évolutions du secteur… et nous en fait bénéficier ! J'ai personnellement beaucoup appris à ses côtés.</p>
								<p>Son esprit de partage est remarquable : il prend régulièrement le temps d'échanger avec l'équipe pour faire connaître ses dernières trouvailles, que ce soit en matière d'optimisation, d'outils ou de bonnes pratiques. Florian travaille de manière efficace et réfléchie : il cherche toujours à gagner du temps, sans sacrifier la qualité.</p>
								<p>C'est aussi une personnalité précieuse dans une équipe : toujours de bonne humeur, avec un humour fin et une attitude positive qui rendent la collaboration agréable au quotidien.</p>
								<p>Je recommande chaleureusement Florian, tant pour ses compétences techniques que pour ses qualités humaines. Merci pour ton passage chez nous !</p>
							</div>
							<div class='testimonial-name'>
								<p class='testimonial-author'>Mathieu L.
									<span class="testimonial-author-title">@FACIL'iti</span>
								</p>
								<p class="testimonial-author-title">Frontend Team Lead</p>
							</div>
						</div>
						<div class='testimonial-profile'>
							<img class="profile-picture" src="/ressources/images/cards/mathieu-lafont-profile-picture.jpg" alt="Audrey Jayet">
						</div>
					</div>
				</div>
				<div class='testimonial-container swiper-slide'>
					<div class="box">
						<div class='testimonial-content'>
							<div class='testimonial-description'>
								<p>Travailler avec Florian est un vrai plaisir.</p>
								<p>Sa capacité d'écoute et son attention aux autres contribuent à créer un environnement collaboratif agréable.</p>
								<p>Sa curiosité l'incite à explorer des idées nouvelles. Volontaire, il aborde les défis avec envie et efficacité !</p>
								<p>Je le recommande vivement pour ses compétences et ses qualités humaines.</p>
							</div>
							<div class='testimonial-name'>
								<p class='testimonial-author'>Audrey J.
									<span class="testimonial-author-title">@FACIL'iti</span>
								</p>
								<p class="testimonial-author-title">Community Manager</p>
							</div>
						</div>
						<div class='testimonial-profile'>
							<img class="profile-picture" src="/ressources/images/cards/audrey-jayet-profile-picture.jpg" alt="Audrey Jayet">
						</div>
					</div>
				</div>
				<div class='testimonial-container swiper-slide'>
					<div class="box">
						<div class='testimonial-content fs-regular-text'>
							<div class='testimonial-description'>
								<p>Sur son poste de développeur Front-End, Florian a montré de la rigueur, un goût certain pour le design et ses applications techniques qui font de lui un développeur complet. Il ne se repose jamais sur ses acquis et est toujours au courant des nouveautés ou des tendances dans le monde du web.</p>
								<p>Bien que nous travaillions dans deux équipes séparées, les retours de Florian sur les fonctionnalités en test ont toujours été justes et pertinents. Sa curiosité technique et sa capacité d'analyse lui permettent de comprendre les enjeux des projets qu'il évalue et d'y trouver des améliorations possibles tout en posant les questions qu'il juge nécessaire pour comprendre l'ensemble des objectifs à atteindre.</p>
								<p>Florian est organisé et son appétence pour les optimisations, même mineures, lui permet de constamment améliorer les projets sur lesquels il travaille et de gerer au mieux son temps. Ayant l'esprit d'équipe il ne garde pas ses trouvailles pour lui et les partage avec l'ensemble de l'équipe pour améliorer le confort de travail et la productivité de tous.</p>
								<p>Florian est aussi bien un atout technique qu'humain. Il sait fédérer une équipe grâce à son enthousiasme et sa bonne humeur.</p>
							</div>
							<div class='testimonial-name'>
								<p class='testimonial-author'>William P.
									<span class="testimonial-author-title">@FACIL'iti</span>
								</p>
								<p class="testimonial-author-title">Backend Developer</p>
							</div>
						</div>
						<div class='testimonial-profile'>
							<img class="profile-picture" src="/ressources/images/cards/william-pommies-profile-picture.jpg" alt="William Pommies">
						</div>
					</div>
				</div>
				<div class='testimonial-container swiper-slide'>
					<div class="box">
						<div class='testimonial-content'>
							<div class='testimonial-description'>
								<p>J'ai pu former Florian aux bases du Front lors de son stage à Emakina.FR.</p>
								<p>Sa soif d'apprendre et de comprendre le métier de front a fait de lui quelqu'un de confirmé rapidement, et cela lui permettra d'aller loin.</p>
								<p>Je trouve que Florian est un atout à avoir dans son équipe et je pense qu'il permettra d'élever le niveau du projet où il se trouvera.</p>
								<p>Il sait aussi toujours apporter une bonne humeur bien agréable !</p>
								<p>Je recommande donc chaudement Florian.</p>
							</div>
							<div class='testimonial-name'>
								<p class='testimonial-author'>Lucas M.
									<span class="testimonial-author-title">@EPAM Systems</span>
								</p>
								<p class="testimonial-author-title">Lead Frontend Developer</p>
							</div>
						</div>
						<div class='testimonial-profile'>
							<img class="profile-picture" src="/ressources/images/cards/lucas-mignot-profile-picture.jpg" alt="Lucas Mignot">
						</div>
					</div>
				</div>
				<div class='testimonial-container swiper-slide'>
					<div class="box">
						<div class='testimonial-content'>
							<div class='testimonial-description'>
								<p>J'ai accompagné Florian pendant toute sa formation de développeur Symfony chez Openclassrooms.</p>
								<p>Rigoureux, consciencieux, il a su comprendre les enjeux de chaque projet et mener à bien la réalisation de ceux-ci : ses projets étaient bien codés, bien organisés et esthétiquement bien mis en valeur. Il a toujours su estimer le temps à passer sur les tâches et a tenu les délais.</p>
								<p>Quand un problème lui résiste, il sait chercher (documentation technique, forums de discussion) et sait oser poser les questions quand il faut. Les échanges ont toujours été fructueux et agréables. C'est une personne patiente et qui aime relever des défis.</p>
							</div>
							<div class='testimonial-name'>
								<p class='testimonial-author'>Nathalie L.
									<span class="testimonial-author-title">@webcreadev</span>
								</p>
								<p class="testimonial-author-title">Fullstack Developer</p>
							</div>
						</div>
						<div class='testimonial-profile'>
							<img class="profile-picture" src="/ressources/images/cards/nathalie-lesourd-profile-picture.jpg" alt="Nathalie Lesourd">
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-next testimonials-navigation">
				<img src="ressources/images/icons/arrow-right.png">
			</div>
		</div>
	</div>

	{# <div class="wrapper">
		        <div class="box">
		            <div class="icon"><i class="fas fa-file-alt"></i></div>
		            <div class="question">
		                <h2>Mon travail vous plaît&nbsp;?</h2>
		                <p>N'hésitez pas à consulter mon CV&nbsp;!</p>
		            </div>
		            <a class="button-primary button-yellow" href="/ressources/documents/Florian-Jourde-CV.pdf" target=”_blank”><i class="fas fa-download"></i>Télécharger le document</a>
		        </div>
		    </div> #}

	{# <svg class="vector-shape fill-very-dark-grey vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
		        <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
		    </svg> #}

</section>
