<section class="testimonials position-relative">

    {# <svg class="vector-shape {{ fill }} vector-shape-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
        <use href="/ressources/images/vectors/vector-top-left-2.svg#swoop-2-bottom-left-white"/>
    </svg> #}
    
    <div class="wrapper">
        <h2 class="section-title">Recommandations</h2>
                <div class="swiper swiper-testimonials">
                    <div class="swiper-wrapper">
                            <div class='testimonial-container swiper-slide'>
                        <div class="box">
                              <div class='testimonial-content'> 
                                  <div class='testimonial-description'> 
                                      <p>J'ai pu former Florian aux bases du Front lors de son stage à Emakina.FR.</p>
                                      <p>Sa soif d'apprendre et de comprendre le métier de front a fait de lui quelqu'un de confirmé rapidement, et cela lui permettra d'aller loin.</p>
                                      <p>Je trouve que Florian est un atout à avoir dans son équipe et je pense qu'il permettra d'élever le niveau du projet où il se trouvera.</p>
                                      <p>Il sait aussi toujours apporter une bonne humeur bien agréable !</p>
                                      <p>Je recommande donc chaudement Florian.</p>
                                  </div>
                                  <div class='testimonial-name'> 
                                      <p class='testimonial-author'>Lucas M. <span class="testimonial-author-title">@EPAM Systems</span></p>
                                      <p class="testimonial-author-title">Lead Frontend Developer</p>
                                  </div>
                              </div>
                              <div class='testimonial-profile'>
                                <img class="profile-picture" src="/ressources/images/cards/lucas-mignot-profile-picture.jpg" alt="Lucas Mignot">
                              </div>
                            </div>
                        </div>
                            <div class='testimonial-container  swiper-slide'>
                        <div class="box">
                              <div class='testimonial-content'> 
                                <div class='testimonial-description'> 
                                  <p>J'ai accompagné Florian pendant toute sa formation de développeur Symfony chez Openclassrooms.</p>
                                  <p>Rigoureux, consciencieux, il a su comprendre les enjeux de chaque projet et mener à bien la réalisation de ceux-ci : ses projets étaient bien codés, bien organisés et esthétiquement bien mis en valeur. Il a toujours su estimer le temps à passer sur les tâches et a tenu les délais.</p>
                                  <p>Quand un problème lui résiste, il sait chercher (documentation technique, forums de discussion) et sait oser poser les questions quand il faut. Les échanges ont toujours été fructueux et agréables. C'est une personne patiente et qui aime relever des défis.</p>
                              </div>
                              <div class='testimonial-name'> 
                                  <p class='testimonial-author'>Nathalie L. <span class="testimonial-author-title">@webcreadev</span></p>
                                  <p class="testimonial-author-title">Fullstack Developer</p>
                              </div>
                            </div>
                            <div class='testimonial-profile'>
                              <img class="profile-picture" src="/ressources/images/cards/nathalie-lesourd-profile-picture.jpg" alt="Nathalie Lesourd">
                            </div>
                        </div>
                    </div>
                </div>
                {# <div class="swiper-button-next testimonials-navigation">
                    <img src="ressources/images/icons/arrow-right.png">
                </div> #}
            </div>
        </div>

    </div>

    {# <div class="wrapper">
        <div class="box">
            <div class="icon"><i class="fas fa-file-alt"></i></div>
            <div class="question">
                <h2>Mon travail vous plaît&nbsp;?</h2>
                <p>N'hésitez pas à consulter mon CV&nbsp;!</p>
            </div>
            <a class="button-primary button-yellow" href="/ressources/documents/Florian-Jourde-CV.pdf" target=”_blank”><i class="fas fa-download"></i>Télécharger le document</a>
        </div>
    </div> #}

    {# <svg class="vector-shape fill-very-dark-grey vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
        <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
    </svg> #}

</section>