{#{% block navbar %}#}
{#    <section class="work">#}
{#        <img class="vector-shape vector-shape-top" src="./ressources/images/vector-top-left-white-2.svg" alt="">#}
{#        <div class="wrapper">#}
{#            <div class="curriculum">#}
{#                <div class="icon"><i class="fas fa-file"></i></div>#}
{#                <div class="question">#}
{#                    <h2>Mon travail vous plaît ?</h2>#}
{#                    <p>N'hésitez pas à consulter mon CV !</p>#}
{#                </div>#}
{#                <a class="button-primary button-pink" href="./ressources/documents/Florian-Jourde-CV.pdf">Télécharger le document</a>#}
{#            </div>#}
{#        </div>#}
{#        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-dark-grey.svg" alt="">#}
{#    </section>#}
{#{% endblock %}#}