<section class="work position-relative">

    <svg class="vector-shape {{ fill }} vector-shape-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
        <use href="/ressources/images/vectors/vector-top-left-2.svg#swoop-2-bottom-left-white"/>
    </svg>

    <div class="wrapper">
        <div class="box">
            <div class="icon"><i class="fas fa-file-alt"></i></div>
            <div class="question">
                <h2>Mon travail vous plaît&nbsp;?</h2>
                <p>N'hésitez pas à consulter mon CV&nbsp;!</p>
            </div>
            <a class="button-primary button-yellow" href="/ressources/documents/Florian-Jourde-CV.pdf" target=”_blank”><i class="fas fa-download"></i>Télécharger le document</a>
        </div>
    </div>

    <svg class="vector-shape fill-very-dark-grey vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
        <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
    </svg>

</section>