#Alternate default index page
DirectoryIndex /index.php

Options +FollowSymlinks
Options -Indexes

RewriteEngine on
RewriteBase /

ErrorDocument 404 https://florianjourde.com/erreur

RewriteRule ^erreur   ?action=Error
RewriteRule ^articles   ?action=Archive
RewriteRule ^ajout-article   ?action=AddPost
RewriteRule ^contact    ?action=Contact
RewriteRule ^inscription    ?action=Register
RewriteRule ^connexion  ?action=Login
RewriteRule ^deconnexion    ?action=Logout
RewriteRule ^gestion-commentaires   ?action=ManageComments
RewriteRule ^article/([0-9]+)   ?action=Post&id=$1
RewriteRule ^article/modification/([0-9]+)   ?action=UpdatePost&id=$1
RewriteRule ^article/suppression/([0-9]+)   ?action=DeletePost&id=$1
RewriteRule ^article/ajout-commentaire/([0-9]+)   ?action=AddComment&id=$1
RewriteRule ^commentaire/suppression/([0-9]+)   ?action=DeleteComment&id=$1
RewriteRule ^commentaire/modification/([0-9]+)   ?action=UpdateComment&id=$1
RewriteRule ^commentaire/validation/([0-9]+)   ?action=ShowComment&id=$1
RewriteRule ^commentaire/annulation/([0-9]+)   ?action=HideComment&id=$1
