{% extends 'layout.twig' %}

{% import 'form.twig' as form %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('./ressources/images/monokai-5.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Contact</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>
    <section class="contact position-relative">
        <div class="wrapper">
                <form class="page icon-spacing" action="index.php?action=contact" method="post">
                    <div>
                        <label for="firstname"><i class="fas fa-user"></i>Prénom</label><br />
                        <input type="text" id="firstname" name="firstname" />
                    </div>
                    <div>
                        <label for="lastname"><i class="fas fa-address-card"></i>Nom</label><br />
                        <input type="text" id="lastname" name="lastname" />
                    </div>
                    <div>
                        <label for="email"><i class="fas fa-at"></i>Email</label><br />
                        <input type="email" id="email" name="email">
                    </div>
                    <div>
                        <label for="message"><i class="fas fa-envelope"></i>Message</label><br />
                        <textarea id="message" name="message"></textarea>
                    </div>
                    <input class="button-form button-very-dark-yellow" type="submit" />
                </form>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-dark-grey.svg" alt="">
    </section>
{% endblock %}