{% extends 'layout.twig' %}

{% block head %}
    <title>Erreur</title>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <a class="button-secondary" href="index.php">Accueil</a>
        <h1>Le super blog de l'AVBN !</h1>
        <p>Une erreur est survenue : {{ errorMessage }}</p>
    </div>
{% endblock %}
