{% extends 'layout.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block content %}
    <section class="banner" style="background-image: url('/ressources/images/monokai/monokai-6.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Une erreur est survenue</h1>
            </div>
        </div>
{#        <img class="vector-shape vector-shape-bottom" src="/ressources/images/vectors/vector-bottom-right-dark-pink.svg" alt="">#}

        <svg class="vector-shape fill-dark-pink vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
    <section class="error position-relative">
        <div class="wrapper">
            <div class="box">
                <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
                <div class="question">
                    <h2>Vous cherchez quelque chose ?</h2>
                    <p>{{ errorMessage }}</p>
                </div>
                <a class="button-primary button-pink" href="/"><i class="fas fa-home"></i>Revenir à l'accueil</a>
            </div>
        </div>

{#    <img class="vector-shape vector-shape-bottom" src="/ressources/images/vectors/vector-bottom-right.svg" alt="">#}

    <svg class="vector-shape fill-very-dark-grey vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
        <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
    </svg>
    </section>
{% endblock %}
