{% extends 'layout.twig' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block session %}
{#    {{ dump(session) }}#}
    <h1>SESSION</h1>
{% endblock %}

{% block content %}
    <h1>Le super blog de l'AVBN !</h1>
    <a class="button-secondary" href="index.php?action=archive">Tous les articles</a>
{% endblock %}
