{% extends 'layout.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="banner" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Accueil</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>
    {% include 'partials/work.twig' %}
{% endblock %}