{% extends 'layout.twig' %}

{% block head %}
    Accueil
{% endblock %}

{% block session %}
    <h1>SESSION</h1>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Le super blog de l'AVBN !</h1>
    </div>
{% endblock %}
