{% extends 'layout.twig' %}

{% block head %}
    Accueil
{% endblock %}

{% block content %}
    <section class="banner" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Titre du blog</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>

    {# <section class="banner padding-100" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <h1 class="post-title">{{ post.title }}</h1>
        </div>
    </section>
    <section class="padding-100">
        <div class="wrapper">
            <h1>Le super blog de l'AVBN !</h1>
        </div>
    </section> #}
    <section class="work position-relative">
        <img class="vector-shape vector-shape-top" src="./ressources/images/vector-top-left-white-2.svg" alt="">
        <div class="wrapper">
            <div class="curriculum">
                <div class="icon"><i class="fas fa-file"></i></div>
                <div class="question">
                    <h2>Mon travail vous plaît ?</h2>
                    <p>N'hésitez pas à consulter mon CV !</p>
                </div>
                <a class="button-primary button-pink" target=”_blank” href="./ressources/documents/Florian-Jourde-CV.pdf">Télécharger le document</a>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-dark-grey.svg" alt="">
    </section>
{% endblock %}
