{% extends 'layout.twig' %}

{% block head %}
    Accueil
{% endblock %}

{% block session %}
    <h1>SESSION</h1>
{% endblock %}

{% block content %}

    <section class="banner" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <div class="title padding-100">
                <h1>Titre du blog</h1>
            </div>
        </div>
        {# <div class="vector-shape"> #}
        <img class="vector-shape" src="./ressources/images/vector-bottom-right-white.svg" alt="">
        {# </div> #}
    </section>

    {# <section class="banner padding-100" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <h1 class="post-title">{{ post.title }}</h1>
        </div>
    </section>
    <section class="padding-100">
        <div class="wrapper">
            <h1>Le super blog de l'AVBN !</h1>
        </div>
    </section> #}
{% endblock %}
