{% extends 'layout.twig' %}

{% block title %}Se connecter{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('/ressources/images/monokai/monokai-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Se connecter</h1>
            </div>
        </div>

        <svg class="vector-shape fill-white vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
    <section class="login position-relative">
        <div class="wrapper wrapper-small">
            <form action="/connexion" class="page icon-spacing" method="post">
                <div class="form-field">
                    <div class="header title">
                        <label for="email"><i class="fas fa-at"></i>Email</label><br />
                    </div>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-field">
                    <div class="header title">
                        <label for="password"><i class="fas fa-key"></i>Password</label><br />
                    </div>
                    <input type="password" id="password" name="password">
                </div>
                <input class="button-form button-very-dark-purple" type="submit" value="Se connecter" />
            </form>
        </div>

        <svg class="vector-shape fill-very-dark-grey vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
{% endblock %}