.button-primary, .button-secondary, .button-tertiary {
  width: fit-content;
}

::-webkit-file-upload-button {
  color: var(--clr-text-white);
}

.button-form, ::-webkit-file-upload-button {
  cursor: pointer;
  max-width: 200px;
  border: none;
  padding: 20px;
  border-radius: 20px;
}

.button-primary, .button-secondary {
  border-radius: 10px;
  /*border-radius: 20px;*/
  padding: 8px 16px;
  border: 3px solid var(--clr-background-very-dark-grey);
  color: var(--clr-text-white);
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary.button-black {
  background-color: var(--clr-background-very-dark-grey);
}

.button-primary.button-white {
  color: var(--clr-text-very-dark-grey);
}

.button-primary.button-white:hover {
  color: var(--clr-text-white);
  background-color: var(--clr-background-very-dark-grey);
}

.button-secondary.button-black {
  color: var(--clr-text-very-dark-grey);
}

.navigation.links li:hover {
  transform: translateY(-5px);
}

.button-tertiary.button-dark-yellow {
  color: var(--clr-text-dark-yellow);
}

.button-tertiary.button-dark-yellow:hover {
  color: var(--clr-text-very-dark-grey);
}

.button-tertiary.button-white {
  color: var(--clr-text-white);
}

.button-tertiary.button-white:hover {
  color: var(--clr-text-yellow);
}

.button-tertiary.button-black {
  color: var(--clr-text-black);
}

.button-tertiary.button-black:hover {
  color: var(--clr-text-dark-yellow);
}

.button-primary.button-black:hover {
  background-color: var(--clr-background-dark-yellow);
  border: 3px solid var(--clr-background-dark-yellow);
}

.button-secondary:hover {
  background-color: var(--clr-background-very-dark-grey);
  color: var(--clr-text-white);
}

.button-secondary.rotate-icon i {
  transition: transform .4s;
}

.button-secondary.rotate-icon:hover i {
  transform: rotate(-360deg);
}

.button-small {
  padding: 6px 12px;
}

.button-light-yellow {
  background-color: var(--clr-background-light-yellow);
}

.button-light-yellow:hover {
  background-color: var(--clr-background-very-dark-yellow);
  color: var(--clr-text-white);
}

.button-very-dark-yellow {
  background-color: var(--clr-background-very-dark-yellow);
  color: var(--clr-text-white);
}

.button-very-dark-purple {
  background-color: var(--clr-background-very-dark-purple);
  color: var(--clr-text-white);
}

.button-dark-orange {
  background-color: var(--clr-background-dark-orange);
  color: var(--clr-text-white);
}

.button-very-dark-green {
  background-color: var(--clr-background-very-dark-green);
  color: var(--clr-text-white);
}

.button-very-dark-blue {
  background-color: var(--clr-background-very-dark-blue);
  color: var(--clr-text-white);
}

.button-dark-pink {
  background-color: var(--clr-background-dark-pink);
  color: var(--clr-text-white);
}

.button-very-dark-grey {
  background-color: var(--clr-background-very-dark-grey);
  color: var(--clr-text-white);
}

.button-dark-orange:hover, .button-blue:hover, .button-very-dark-purple:hover, .button-very-dark-green:hover, .button-dark-pink:hover, .button-very-dark-yellow:hover, .button-very-dark-blue:hover, ::-webkit-file-upload-button:hover {
  background-color: var(--clr-background-very-dark-grey);
}

.button-very-dark-grey:hover {
  background-color: var(--clr-background-very-dark-yellow);
}

.button-blue {
  background-color: var(--clr-background-blue);
  color: var(--clr-text-white);
}

.button-primary.button-blue {
  background-color: var(--clr-background-dark-blue);
  border: 3px solid var(--clr-background-dark-blue);
}

.button-primary.button-green {
  background-color: var(--clr-background-green);
  border: 3px solid var(--clr-background-green);
}

.button-secondary.button-blue {
  color: var(--clr-text-dark-blue);
  border: 3px solid var(--clr-background-dark-blue);
}

.button-primary.button-pink {
  background-color: var(--clr-background-dark-pink);
  border: 3px solid var(--clr-background-dark-pink);
}

.button-primary.button-yellow {
  background-color: var(--clr-background-dark-yellow);
  border: 3px solid var(--clr-background-dark-yellow);
}

.button-primary.button-yellow:hover, .button-primary.button-pink:hover, .button-primary.button-blue:hover {
  background-color: var(--clr-background-very-dark-grey);
  border: 3px solid var(--clr-background-very-dark-grey);
}

.button-primary.button-white {
  background-color: var(--clr-background-white);
  border: 3px solid var(--clr-text-white);
}

.button-secondary.button-white {
  color: var(--clr-text-white);
  border: 3px solid var(--clr-text-white);
}

.button-secondary.button-white:hover {
  background-color: var(--clr-background-white);
  color: var(--clr-text-very-dark-grey);
}
