footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--clr-background-very-dark-grey);
    color: var(--clr-text-white);

    a {
        color: var(--clr-text-white);
        fill: var(--clr-text-white);
    }

    .logo {
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-family: var(--ff-secondary);

        img {
            height: 30px;
            object-fit: contain;
        }

        p {
            text-transform: uppercase;
            font-size: var(--fs-small-title);
        }
    }

    .legal {
        display: flex;
        gap: 30px;
    }

    .rights {
        color: var(--clr-text-grey);
    }

    .links li {
        a {
            display: flex;
            font-size: 24px;

            i,
            svg {
                transition: .2s;
            }

            &:hover {
                i,
                svg {
                    transform: translateY(-5px);
                    color: var(--clr-text-yellow);
                    fill: var(--clr-text-yellow);
                }
            }
        }

        svg {
            width: 24px;
            aspect-ratio: 1/1;
        }
    }

    .top-section {
        padding-bottom: 50px;
    }

    .bottom-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
        border-top: 3px solid var(--clr-background-dark-grey);
        gap: 30px 50px;
        align-items: center;

        .links ul {
            font-size: var(--fs-big-text);
            display: flex;
            gap: 30px;
        }
    }
}