* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input, button, textarea, select {
    font: inherit;
}

input, textarea, ::-webkit-file-upload-button {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--bs-primary);
}

textarea {
    min-height: 120px;
}

input[type="submit"], ::-webkit-file-upload-button {
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
    cursor: pointer;
    max-width: 200px;
}

::-webkit-file-upload-button {
    margin-right: 20px;
    background-color: var(--clr-dark-blue);
    /*color: var(--clr-very-dark-grey);*/
}

form > *:not(:last-child) {
    margin-bottom: 30px;
}

form {
    /*margin-bottom: 2rem;*/
}

body {
    /* padding: 2rem 0; */
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-very-dark-grey);
}

a {
    text-decoration: none;
    color: var(--clr-dark-purple);
    /*margin: 1rem 0;*/
    display: inline-block;
}

h1, h2 {
    /* margin: 2rem auto; */
}

h1, h2, h3 {
    font-family: var(--ff-primary);
    /* text-align:center; */
}

ul {
    list-style-type: none;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 250px;
    /*z-index: -1;*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-bottom: -500px; */
}

.banner {
    position: relative;
}

.offset-next-element + * {
    margin-top: -100px;
}

.banner .title {
    font-size: var(--fs-big-title);
    font-family: var(--ff-primary);
    color: var(--clr-white);
}
  
.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--clr-transparent-grey);
}
  

.posts {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
    display: grid;
    /* grid-template-columns: 2fr; */
    /* grid-template-rows: 2fr; */
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 1fr;
}

.posts .header {
    margin-bottom: 1rem;
}

.archive .post .title, .comment .title {
    /* color: var(--clr-white);
    font-size:0.9em;
    margin-bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; */
}

.archive .post .title h3 {
    /* display: inline-block; */
}

.post .title {
    font-size: var(--fs-small-title);
    /* background-color: var(--clr-dark-blue); */
}

.post .infos > *:not(:last-child) {
    margin-bottom: 20px;
}

main.single .post .description {
    font-size: var(--fs-big-text);
}

.single .post > *:not(:last-child) {
    margin-bottom: 40px;
}


.management {
    /*padding-bottom: 100px;*/
}

.archive .post .actions a, .management .post .actions a {
    color: var(--clr-white);
}

/*.management .post > *, */.management .single > *:not(:last-child) {
    margin-bottom: 30px;
}

.management .post > *:not(:last-child) {
    margin-bottom: 30px;
}

.management .single {
    /*background-color: var(--clr-dark-green);*/
    border-radius: 30px;
    padding: 40px;
}

.management .single:not(:last-child) {
    margin-bottom: 50px;
}

.page.management > *:not(:last-child) {
    margin-bottom: 50px;
}

.management .single .post {
    color: var(--clr-white);
}

.management .post .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.delete-post .page > .title {
    color: var(--clr-dark-pink);
}

.delete-post .management .single, .delete-post input[type="submit"] {
    background-color: var(--clr-dark-pink);
}
/*.post .header .title {*/

/*}*/
/*font-size: var(--fs-big-text);*/

.comments {
    /* margin-top: -500px; */
    /*position: relative;*/
    padding-top: 300px;
    padding-bottom: 150px;
    background-color: var(--clr-very-light-grey);
}

.comment .title {
    background-color: var(--clr-dark-green);
}

.comment .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.comment .header .username{
    font-size: var(--fs-big-text);
    font-weight: 500;
}

.comment .date {
    color: var(--clr-grey);
}

.comment > *:not(:last-child) {
    margin-bottom: 10px;
}

.post .fas, .comment .fas {
    margin-right: 10px;
}


.comment .hide {
    color: var(--clr-dark-purple);
}

.comment .edit {
    color: var(--clr-dark-blue);
}

.comment .delete {
    color: var(--clr-dark-pink);
}

.title a {
    color: var(--clr-white);
}

.archive .post .content, .comment .content {
    margin-top:0;
    /* padding: 1rem; */
}

.archive .post .content {
    /* background-color: var(--clr-light-blue); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-grow: 1;
}

.archive .post .content p {
    width: 100%;
}

.archive .post .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.archive .post > *:not(:first-child) {
    margin-top: 20px;
}

.archive .post .content .description {
    flex-grow: 1;
}

.archive .post .content *:not(:last-child) {
    margin-bottom: 20px;
}

.archive .post .content .author {
    /*text-align: right;*/
    font-weight: 600;
}

.comments .title {
    font-size: var(--fs-big-title);
    margin-bottom: 50px;
}

.comments .title:not(:first-child) {
    margin-top: 100px;
}

.comment .content {
    /* background-color: var(--clr-light-green); */
}

.comment {
    /* margin-bottom: 2rem; */
    border-radius: 20px;
    overflow: hidden;
     box-shadow: var(--bs-primary);
    width: 100%;
    padding: 40px;
    background-color: var(--clr-white);
}

.comments .comment:not(:last-child) {
    margin-bottom: 40px;
}

.archive {
    z-index: 2;
}

.archive .post {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* overflow: hidden; */
    padding: 40px;
    /*background-color: var(--clr-very-dark-grey);*/
    background: var(--clr-radial-very-dark-grey);
    color: var(--clr-white);
}

.register, .login {
    z-index: 1;
    padding-bottom: 50px;
}

main.single .post, .register form, .login form, .add-post form, .delete-post .page, .update-post .page {
    border-radius: 40px;
    padding: 40px;
    background-color: var(--clr-white);
}
.update-post .page, .update-post input[type="submit"] {
    background-color: var(--clr-light-green);
}

.update-post {
    color: var(--clr-very-dark-green);
}

.update-post .post .actions a {
    color: var(--clr-dark-green);
}

.update-post input[type="submit"] {
    background-color: var(--clr-very-dark-green);
}


.update-post .post .infos p {
    color: var(--clr-dark-green);
}

.register form label, .login form label, .add-post form label {
    font-size: var(--fs-big-text);
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
}

.add-post form {
    background-color: var(--clr-light-blue);
}

.login form {
    background-color: var(--clr-dark-purple);
    color: var(--clr-white);
}

.login form input[type="submit"] {
    background-color: var(--clr-very-dark-purple);
}

.add-post form input[type="submit"] {
    background-color: var(--clr-very-dark-grey);
}

input[type="file"] {
    padding: unset;
    border-radius: unset;
    box-shadow: unset;
}

/*::-webkit-file-upload-button {*/
/*    background: black;*/
/*    color: red;*/
/*    padding: 1em;*/
/*    cursor: pointer;*/
/*    margin-right: 20px;*/
/*}*/

.register form {
    background-color: var(--clr-very-light-orange);
    color: var(--clr-dark-orange);
}

.actions a:not(:last-child) {
    /*margin-right: 20px;*/
}

.actions {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.wrapper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    gap: inherit;
    z-index: inherit;
}

.vector-shape {
    width: 100%;
    height: 200px;
    /* height: auto; */
    z-index: 0;
    position: absolute;
}

.vector-shape-bottom {
    bottom: 0;
}

.vector-shape-top {
    top: 0;
}

.position-relative {
    position: relative;;
}

.vector-shape-behind {
    z-index: -1;
}

.button-primary, .button-secondary, .button-tertiary {
    width: fit-content;
    /* border: 3px solid var(--clr-dark-purple); */
    /*margin-bottom: 1rem;*/
}

.button-primary, .button-secondary {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    border: 3px solid var(--clr-dark-purple);
    color: var(--clr-white);
}

.button-primary {
    background-color: var(--clr-dark-purple);
}

.button-secondary {
    color: var(--clr-dark-purple);
}

.button-tertiary {
    /* color: var(--clr-dark-purple); */
}

.button-primary.button-blue {
    background-color: var(--clr-dark-blue);
    border: 3px solid var(--clr-dark-blue);
}

.button-secondary.button-blue {
    color: var(--clr-dark-blue);
    border: 3px solid var(--clr-dark-blue);
}

.button-primary.button-pink {
    background-color: var(--clr-dark-pink);
    border: 3px solid var(--clr-dark-pink);
}

.button-secondary.button-white {
    color: var(--clr-white);
    border: 3px solid var(--clr-white);
}

.work {
    padding-top: 250px;
    padding-bottom: 100px;
    /*background-color: var(--clr-dark-pink);*/
    /*position: relative;*/
    z-index: 1;
    background: linear-gradient(45deg, #552832 0%, #a83b56 50%, #873146 100%);
}

.add-post {
    z-index: 1;
}

.work .curriculum {
    padding: 80px;
    background-color: var(--clr-white);
    border-radius: 40px;
    box-shadow: var(--bs-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: var(--clr-dark-pink);
}

.work .curriculum .question {
    flex-grow: 1;
}

.work .curriculum .fas, .work .curriculum p {
    color: var(--clr-pink);
}

.work .curriculum .fas {
    font-size: var(--fs-very-big-title);
}

.work .curriculum h2 {
    font-size: var(--fs-title);
    margin-bottom: 15px;
}

.work .curriculum p, .work .curriculum a {
    font-size: var(--fs-big-text);
}

.work .curriculum .button-primary {
    padding: 20px 40px;
    border-radius: 20px;
}