* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input, button, textarea, select {
    font: inherit;
}

input, textarea, ::-webkit-file-upload-button {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--bs-primary);
}

textarea {
    min-height: 120px;
}

input[type="submit"], ::-webkit-file-upload-button {
    /*background-color: var(--clr-dark-orange);*/
    /*color: var(--clr-white);*/
    /*cursor: pointer;*/
    /*max-width: 200px;*/
}

::-webkit-file-upload-button {
    margin-right: 20px;
    background-color: var(--clr-dark-blue);
}

form > *:not(:last-child) {
    margin-bottom: 30px;
}

body {
    transition: transform .4s;
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-very-dark-grey);
}

a, input {
    text-decoration: none;
    transition: background-color .4s, color .4s, border .4s;
    /*display: inline-block;*/
}

h1, h2, h3 {
    font-family: var(--ff-primary);
}

ul {
    list-style-type: none;
}

.button-primary, .button-secondary, .button-tertiary, .button-form, ::-webkit-file-upload-button {
    /*transition: background-color .4s, color .4s, border .4s;*/
}

.button-primary, .button-secondary, .button-tertiary {
    width: fit-content;
    /*display: inline-flex;*/
    /*align-items: center;*/
}

::-webkit-file-upload-button {
    color: var(--clr-white);
}


.button-form, ::-webkit-file-upload-button {
    /*display: inline-flex;*/
    cursor: pointer;
    max-width: 200px;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.button-primary, .button-secondary {
    border-radius: 10px;
    padding: 8px 16px;
    border: 3px solid var(--clr-very-dark-grey);
    color: var(--clr-white);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary.button-black {
    background-color: var(--clr-very-dark-grey);
}

.button-primary.button-white {
    color: var(--clr-very-dark-grey);
}

.button-primary.button-white:hover {
    color: var(--clr-white);
    background-color: var(--clr-very-dark-grey);
}

.button-secondary.button-black {
    color: var(--clr-very-dark-grey);
}

.navigation.links li:hover {
    transform: translateY(-5px);
}

.button-tertiary.button-dark-yellow {
    color: var(--clr-dark-yellow);
}

.button-tertiary.button-dark-yellow:hover {
    color: var(--clr-very-dark-grey);
}

.button-tertiary.button-white {
    color: var(--clr-white);
}

.button-tertiary.button-white:hover {
    color: var(--clr-yellow);
}

.button-primary.button-black:hover {
    background-color: var(--clr-dark-yellow);
    border: 3px solid var(--clr-dark-yellow);
    /*color: var(--clr-very-dark-grey);*/
}

.button-secondary:hover {
    background-color: var(--clr-very-dark-grey);
    color: var(--clr-white);
}

.button-small {
    padding: 6px 12px;
}

.button-light-yellow {
    background-color: var(--clr-light-yellow);
}

.button-light-yellow:hover {
    background-color: var(--clr-very-dark-yellow);
    color: var(--clr-white);
}

.button-very-dark-yellow {
    background-color: var(--clr-very-dark-yellow);
    color: var(--clr-white);
}

.button-very-dark-purple {
    background-color: var(--clr-very-dark-purple);
    color: var(--clr-white);
}

.button-dark-orange {
    background-color: var(--clr-dark-orange);
    color: var(--clr-white);
}

.button-very-dark-green {
    background-color: var(--clr-very-dark-green);
    color: var(--clr-white);
}

.button-dark-pink {
    background-color: var(--clr-dark-pink);
    color: var(--clr-white);
}

.button-very-dark-grey {
    background-color: var(--clr-very-dark-grey);
    color: var(--clr-white);
}

.button-dark-orange:hover, .button-blue:hover, .button-very-dark-purple:hover, .button-very-dark-green:hover, .button-dark-pink:hover, .button-very-dark-yellow:hover, ::-webkit-file-upload-button:hover {
    background-color: var(--clr-very-dark-grey);
}

.button-very-dark-grey:hover {
    background-color: var(--clr-very-dark-yellow);
}

.button-blue {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

.button-primary.button-blue {
    background-color: var(--clr-dark-blue);
    border: 3px solid var(--clr-dark-blue);
}

.button-secondary.button-blue {
    color: var(--clr-dark-blue);
    border: 3px solid var(--clr-dark-blue);
}

.button-primary.button-pink {
    background-color: var(--clr-dark-pink);
    border: 3px solid var(--clr-dark-pink);
}

/*.button-primary.button-pink:hover {*/
/*    background-color: var(--clr-very-dark-pink);*/
/*    border: 3px solid var(--clr-very-dark-pink);*/
/*}*/

.button-primary.button-yellow {
    background-color: var(--clr-dark-yellow);
    border: 3px solid var(--clr-dark-yellow);
}

.button-primary.button-yellow:hover, .button-primary.button-pink:hover {
    background-color: var(--clr-very-dark-grey);
    border: 3px solid var(--clr-very-dark-grey);
    /*border: 3px solid var(--clr-dark-yellow);*/
}

.button-primary.button-white {
    background-color: var(--clr-white);
    border: 3px solid var(--clr-white);
}

.button-secondary.button-white {
    color: var(--clr-white);
    border: 3px solid var(--clr-white);
}

.button-secondary.button-white:hover {
    background-color: var(--clr-white);
    color: var(--clr-very-dark-grey);
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    content: "";
    width: 100%;
    height: 100%;
    top: -15px;
    left: -30px;
    border-radius: 100px;
    background-color: var(--clr-black);
    opacity: 0.05;
    position: absolute;
}

/*.padding-100 {*/
/*    padding-top: 100px;*/
/*    padding-bottom: 100px;*/
/*}*/

/*.padding-top-100 {*/
/*    padding-top: 100px;*/
/*}*/

/*.padding-50 {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 50px;*/
/*}*/

/*.padding-20 {*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*}*/

.banner {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
}

.offset-next-element + * {
    margin-top: -100px;
}

.banner.home {
    padding-top: 100px;
    padding-bottom: 0;
}

.banner .title {
    font-size: var(--fs-big-title);
    font-family: var(--ff-primary);
    color: var(--clr-white);
}
  
.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    /*background-color: var(--clr-transparent-grey);*/
    opacity: 0.25;
    background: radial-gradient(transparent 0%, black 100%);
}

.banner .introduction .title {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: var(--fs-big-text);
    /*margin-bottom: 50px;*/
    min-width: 300px;
    gap: 20px;
}

.banner .introduction .title .fas {
    /*max-width: 300px;*/
    font-size: var(--fs-big-title);
    animation: up-down 3s infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.introduction .box h2 span {
    margin-top: 20px;
    display: inline-block;
    animation: wave 2s infinite;
}

.introduction .box h2 span:nth-child(1) {
    animation-delay:0s;
}
.introduction .box h2 span:nth-child(2) {
    animation-delay:.1s;
}
.introduction .box h2 span:nth-child(3) {
    animation-delay:.2s;
}
.introduction .box h2 span:nth-child(4) {
    animation-delay:.3s;
}
.introduction .box h2 span:nth-child(5) {
    animation-delay:.4s;
}
.introduction .box h2 span:nth-child(6) {
    animation-delay:.5s;
}
.introduction .box h2 span:nth-child(7) {
    animation-delay:.6s;
}


@keyframes wave {
    0% {
        transform:translateY(0px)
    }
    50% {
        transform:translateY(-20px);
    }
    100% {
        transform:translateY(0px)
    }
}

.introduction {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    gap: 100px;
}

.introduction .box {
    /*min-width: 100%;*/
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /*max-width: 700px;*/
    background: radial-gradient(at top, #ffffff 0%, #ededed 100%);
    box-shadow: unset;
}

.introduction .box h2 {
    font-size: var(--fs-big-title);
    font-family: var(--ff-secondary);
    text-align: center;
}

.partners {
    padding-top: 150px;
    padding-bottom: 150px;
}

.partners ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 100px;}

.partners img {
    width: 250px;
    object-fit: contain;
    filter: saturate(0);
    transition: filter .4s, transform .4s;
}

.partners a:hover img {
    filter: saturate(1);
    transform: translateY(-5px);
}

.section-title {
    font-size: var(--fs-big-title);
    margin-bottom: 50px;
}

.portrait {
    /*background-color: var(--clr-radial-very-dark-grey);*/
    padding-top: 250px;
    padding-bottom: 100px;
    background: linear-gradient(315deg, #0a4a52 0%, #51b8c4 50%, #206972 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.portrait .profile-picture {
    width: 100%;
    min-width: 300px;
    border-radius: 50px;
    box-shadow: var(--bs-secondary);
}

.achievements ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 1fr;
}

.achievements {
    padding-top: 100px;
    /*padding-bottom: 150px;*/
}

.achievements img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*border-radius: 20px;*/
}

.achievements li::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(360deg, black 25%, transparent);*/
    background-color: var(--clr-black);
    opacity: 0;
    position: absolute;
    border-radius: 20px;
    transition: opacity .4s;
}

.achievements li:hover::before {
    opacity: 0.5;
}

.achievements .description {
    position: absolute;
    /*top: auto;*/
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: var(--clr-white);
    background-color: var(--clr-very-dark-grey);
    border-radius: 20px 20px 0 0;
    transform: translateY(58px);
    transition: transform .4s;
    box-shadow:  0 -10px 20px #00000010;
}

.achievements li:hover .description {
    transform: translateY(0);
    /*opacity: 0.75;*/
}

.achievements .description h3 {
    font-size: var(--fs-small-title);
    margin-bottom: 20px;
}
.achievements .description p {
    font-size: var(--fs-big-text);
}

.achievements li {
    box-shadow: var(--bs-secondary);
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.achievements i {
    /*margin-right: 10px;*/
}

.achievements a {
    /*height: 100%;*/
    /*width: 100%;*/
    /*color: var(--clr-very-dark-grey);*/
}

.achievements .links {
    display: flex;
    gap: 20px;
}

.skills {
    /*display: flex;*/
    padding-top: 300px;
    /*padding-bottom: 100px;*/
    background-color: var(--clr-very-light-grey);
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    grid-auto-rows: 1fr;
}

.skills li {
    /*width: 200px;*/
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--bs-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--clr-white);
}

.skills li img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.presentation {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-width: 400px;
}

.presentation h2 {
    font-size: var(--fs-big-title);
}

.presentation p {
    font-size: var(--fs-small-title);
    color: var(--clr-light-blue);
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: 1fr;
}

.posts .header {
    margin-bottom: 1rem;
}
.post .title {
    font-size: var(--fs-small-title);
}

.post .infos > *:not(:last-child) {
    margin-bottom: 20px;
}

main.single {
    padding-bottom: 100px;
}

main.single .post .infos p {
    color: var(--clr-grey);
}

main.single .post .description {
    font-size: var(--fs-big-text);
}

.single .post > *:not(:last-child) {
    margin-bottom: 40px;
}

.actions.white a {
    color: var(--clr-white);
}

.actions.white a:hover {
    color: var(--clr-yellow);
}

.actions a:hover {
    color: var(--clr-very-dark-grey);
}

.management .single > *:not(:last-child) {
    margin-bottom: 30px;
}

.management .post > *:not(:last-child) {
    margin-bottom: 30px;
}

.management .single {
    border-radius: 30px;
    padding: 40px;
}

.management .single:not(:last-child) {
    margin-bottom: 50px;
}

.page.management > *:not(:last-child) {
    margin-bottom: 50px;
}

.management .single .post {
    color: var(--clr-white);
}

.management .post .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.delete-post .page > .title {
    color: var(--clr-dark-pink);
}

.delete-post .management .single/*, .delete-post input[type="submit"]*/ {
    background-color: var(--clr-dark-pink);
}

.comments {
    padding-top: 300px;
    padding-bottom: 150px;
    background-color: var(--clr-very-light-grey);
}

.comment .title {
    background-color: var(--clr-dark-green);
}

.comment .header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.comment .header .username{
    font-size: var(--fs-big-text);
    font-weight: 500;
}

.comment .date {
    color: var(--clr-grey);
}

.comment > *:not(:last-child) {
    margin-bottom: 10px;
}

/*.actions .fas, .infos .fas, .username .fas, .title .fas, .contact .page label .fas, .comment .fas {*/
/*    margin-right: 10px;*/
/*}*/

.icon-spacing .fas{
    margin-right: 10px;
}

.comment .hide {
    color: var(--clr-dark-purple);
}

.comment .edit {
    color: var(--clr-dark-blue);
}

.comment .delete {
    color: var(--clr-dark-pink);
}

.title a {
    color: var(--clr-white);
}

.archive .post .content, .comment .content {
    margin-top:0;
}

.archive .post .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.archive .post .content p {
    width: 100%;
}

.archive .post .thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.archive .post > *:not(:first-child) {
    margin-top: 20px;
}

.archive .post .content .description {
    flex-grow: 1;
}

.archive .post .content *:not(:last-child) {
    margin-bottom: 20px;
}

.archive .post .content .author {
    font-weight: 600;
}

.comments .title {
    font-size: var(--fs-big-title);
    margin-bottom: 50px;
}

.comments .title:not(:first-child) {
    margin-top: 100px;
}

.comment {
    border-radius: 20px;
    overflow: hidden;
     box-shadow: var(--bs-primary);
    width: 100%;
    padding: 40px;
    background-color: var(--clr-white);
}

.comments .comment:not(:last-child) {
    margin-bottom: 40px;
}

.introduction, .archive, .achievements, .skills {
    z-index: 2;
}

.archive .post {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 40px;
    background: var(--clr-radial-very-dark-grey);
    color: var(--clr-white);
    box-shadow: var(--bs-secondary);
}

.register, .login {
    padding-bottom: 50px;
}

.page {
    border-radius: 40px;
    padding: 40px;
    background-color: var(--clr-white);
}

.update-post .page {
    background-color: var(--clr-light-green);
}

.update-comment .page {
    background-color: var(--clr-light-blue);
}

/*.update-comment input[type="submit"] {*/
/*    background-color: var(--clr-dark-blue);*/
/*}*/

.update-comment {
    color: var(--clr-very-dark-blue);
}

.update-post {
    color: var(--clr-very-dark-green);
}

.update-post .post .actions a, .update-post .post .infos p {
    color: var(--clr-dark-green);
}

.update-comment .post .actions a, .update-comment .post .infos p {
    color: var(--clr-dark-blue);
}

/*.update-post input[type="submit"] {*/
/*    background-color: var(--clr-very-dark-green);*/
/*}*/

.register form label, .login form label, .add-post form label, .contact form label {
    font-size: var(--fs-big-text);
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
}

.add-post form {
    background-color: var(--clr-light-blue);
}

.login form {
    background-color: var(--clr-dark-purple);
    color: var(--clr-white);
}

.contact form {
    background-color: var(--clr-dark-yellow);
    color: var(--clr-white);
}

/*.login form input[type="submit"] {*/
/*    background-color: var(--clr-very-dark-purple);*/
/*}*/

.contact form input[type="submit"] {
    /*background-color: var(--clr-yellow);*/
}

.add-post form input[type="submit"] {
    /*background-color: var(--clr-very-dark-grey);*/
}

input[type="file"] {
    padding: unset;
    border-radius: unset;
    box-shadow: unset;
}

.register form {
    background-color: var(--clr-very-light-orange);
    color: var(--clr-dark-orange);
}

.actions {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    gap: inherit;
    z-index: inherit;
}

.vector-shape {
    width: 100%;
    height: 200px;
    z-index: 0;
    position: absolute;
}

.vector-shape-bottom {
    bottom: 0;
}

.vector-shape-top {
    top: 0;
}

.position-relative {
    position: relative;
    z-index: 1;
}

.vector-shape-behind {
    z-index: -1;
}
.work {
    padding-top: 250px;
    padding-bottom: 100px;
    background: linear-gradient(45deg, #4d3a02 0%, #cba83f 50%, #896e1e 100%);
}

.error {
    background-color: var(--clr-dark-pink);
}

.error .box {
    position: relative;
    top: -100px;
}

.box {
    padding: 80px;
    background-color: var(--clr-white);
    border-radius: 40px;
    box-shadow: var(--bs-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.work {
    color: var(--clr-dark-yellow);

}

.box .question {
    flex-grow: 1;
}

.work .fas, .work p {
    color: var(--clr-yellow);
}

.error .fas, .error p {
    color: var(--clr-pink);
}

.box .fas {
    font-size: var(--fs-very-big-title);
}

.box h2 {
    font-size: var(--fs-title);
    margin-bottom: 15px;
}

.box p, .box a {
    font-size: var(--fs-big-text);
}

.box a {
    align-items: center;
    display: flex;
}

.box a i.fas {
    font-size: var(--fs-title);
    margin-right: 20px;
}

.box .button-primary {
    padding: 20px 40px;
    border-radius: 20px;
}