.post-banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.post-banner .post-title {
  font-size: 64px;
  font-family: var(--ff-primary);
  color: var(--clr-white);
}

.post-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--clr-transparent-grey);
}
