@media (max-width: 768px) {
    :root {
        --fs-very-big-title: 40px;
        --fs-big-title: 30px;
        --fs-title: 26px;
        --fs-small-title: 20px;
        --fs-big-text: 18px;
        --fs-regular-text: 14px;
        --fs-small-text: 10px;
    }

    .posts {
        grid-template-columns: repeat(1, 1fr);
    }

    .achievements ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills ul {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .bottom-section {
        justify-content: center;
    }

    .box {
        padding: 30px;
    }

    .banner {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .introduction {
        gap: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .achievements ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    body.menu-open {
        /*transform: translateX(-300px);*/
        /*overflow: hidden;*/
    }

    .menu.mobile-only {
        display: flex;
    }

    .menu.desktop-only {
        display: none;
    }

    .introduction {
        flex-direction: column;
    }

    .portrait {
        flex-direction: column-reverse;
    }

    .menu {
        position: fixed;
        /*background-color: var(--clr-white);*/
        background-color: var(--clr-very-dark-grey);
        transform: translateX(300px);
        width: 300px;
        height: 100vh;
        right: 0;
        top: 0;
        padding: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        box-shadow: inset 30px 0 50px #00000020;
        /*box-shadow: -20px 0 60px #00000020;*/
        color: var(--clr-white);
    }

    .menu.menu-open {
        transform: translateX(0);
        /*box-shadow: -20px 0 60px #00000020;*/
        /*right: 0;*/
    }

    .navigation-links, .navigation-user {
        flex-direction: column;
        gap: 20px;
    }

    .banner .introduction .title {
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .menu.mobile-only, .mobile-only {
        display: none;
    }
}