* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

input, button, textarea, select {
    font: inherit;
}

input, textarea, ::-webkit-file-upload-button {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: var(--bs-primary);
}

textarea {
    min-height: 120px;
}

::-webkit-file-upload-button {
    margin-right: 20px;
    background-color: var(--clr-dark-blue);
}

form > *:not(:last-child) {
    margin-bottom: 30px;
}

body {
    transition: transform .4s;
    min-height: 100vh;
    position: relative;
    width: 100%;
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-very-dark-grey);
}

a, input {
    text-decoration: none;
    transition: background-color .4s, color .4s, border .4s;
}

h1, h2, h3 {
    font-family: var(--ff-primary);
}

ul {
    list-style-type: none;
}

.placeholder {
    font-family: var(--ff-tertiary);
}

.wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    flex-wrap: inherit;
    gap: inherit;
    z-index: inherit;
}

.page {
    border-radius: 40px;
    padding: 40px;
    background-color: var(--clr-white);
}

.box {
    padding: 80px;
    background-color: var(--clr-white);
    border-radius: 40px;
    box-shadow: var(--bs-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
