* {
  scrollbar-color: #262626 #ffffff;
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 12px;
}
 
html::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-background-very-dark-grey);
  border: 3px solid #ffffff;
}

::selection {
  /*background-color: var(--clr-background-light-grey);*/
  /*background-color: #ffffff80;*/
  /*background-color: #00000080;*/
  /*color: var(--clr-text-white);*/
    /*background-color: var(--clr-text-blue);*/
    background-color: #e2bc5580;
    /*color: var(--clr-text-white);*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
  caret-color: var(--clr-text-blue);
  transition: .4s;
}

#frame {
  width: 100%;
  background-color: var(--clr-background-white);
}

#content {
  min-height: 400px;
}

input, textarea, ::-webkit-file-upload-button {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: var(--bs-primary);
}

textarea {
  min-height: 120px;
  resize: vertical;
}

::-webkit-file-upload-button {
  margin-right: 20px;
  background-color: var(--clr-background-dark-blue);
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

body {
  /*transition: transform .4s;*/
  min-height: 100vh;
  position: relative;
  width: 100%;
  font-family: var(--ff-primary);
  background-color: var(--clr-background-very-dark-grey);
  color: var(--clr-text-very-dark-grey);
  word-break: break-word;
}

a, input {
  text-decoration: none;
  transition: background-color .4s, color .4s, border .4s;
}

a.disabled {
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: var(--ff-primary);
}

ul {
  list-style-type: none;
}

hr {
  height: 3px;
  min-height: 3px;
  background-color: var(--clr-background-very-light-grey);
  border: none;
}

section, body, .navbar, #frame {
  transition: transform .4s, background-color .4s, border .4s;
}

.placeholder {
  font-family: var(--ff-tertiary);
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
}

.wrapper-small {
  max-width: 900px;
}

.page {
  border-radius: 40px;
  padding: 40px;
  background-color: var(--clr-background-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: var(--bs-primary);
  transition: .4s;
}

.box {
  padding: 80px;
  background-color: var(--clr-background-white);
  border-radius: 40px;
  box-shadow: var(--bs-secondary);
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  transition: .4s;
}

.swiper-slide {
  transition: .4s !important;
}

.center-text {
  text-align: center;
}