:root {
  --clr-text-purple: #595186;
  --clr-background-very-light-purple: #595186;
  --clr-text-very-light-purple: #595186;
  --clr-background-very-dark-purple: #383356;
  --clr-background-light-blue: #b4f7ff;
  --clr-text-blue: #51b8c4;
  --clr-background-blue: #51b8c4;
  --clr-background-dark-blue: #2b767f;
  --clr-text-dark-blue: #2b767f;
  --clr-text-very-dark-blue: #143c40;
  --clr-background-very-dark-blue: #153439;
  --clr-text-green: #89bf54;
  --clr-background-green: #89bf54;
  --clr-background-dark-green: #557337;
  --clr-background-very-dark-green: #363f29;
  --clr-background-light-yellow: #e2c080;
  --clr-text-yellow: #e2bc55;
  --clr-text-light-yellow: #f3d584;
  --clr-background-dark-yellow: #997d28;
  --clr-text-dark-yellow: #997d28;
  --clr-background-very-dark-yellow: #715b1a;
  --clr-background-very-light-orange: #dfcbc1;
  --clr-text-orange: #e0672d;
  --clr-background-dark-orange: #a15f3b;
  --clr-text-dark-orange: #a15f3b;
  --clr-text-pink: #d05e7a;
  --clr-background-dark-pink: #7f2e40;
  --clr-text-dark-pink: #7f2e40;
  --clr-text-white: white;
  --clr-background-white: white;
  --clr-background-black: #0f0f0f;
  --clr-text-black: #0f0f0f;
  --clr-background-light-grey: #ccc;
  --clr-background-very-light-grey: #eee;
  --clr-text-grey: #777;
  --clr-background-dark-grey: #333333;
  --clr-text-very-dark-grey: #262626;
  --clr-background-very-dark-grey: #262626;
  --clr-border-very-dark-grey: #262626;
  --clr-radial-very-dark-grey: radial-gradient(at top, #3c3c3c 0%, #252424 100%);
  --clr-transparent-grey: hsla(0, 0%, 0%, 0.25);
  --clr-transparent: hsla(0, 0%, 0%, 0);
  /*--ff-primary: Outfit, Roboto, sans-serif;*/
  --ff-primary: Onest, Roboto, sans-serif;
  --ff-secondary: JetBrains Mono, sans-serif;
  --ff-tertiary: Flow Circular, sans-serif;
  --fs-very-big-title: 60px;
  --fs-big-title: 40px;
  --fs-title: 30px;
  --fs-small-title: 24px;
  /*--fs-small-title: 22px;*/
  /*--fs-big-text: 20px;*/
  --fs-big-text: 18px;
  /*--fs-regular-text: 16px;*/
  --fs-regular-text: 16px;
  /*--fs-small-text: 12px;*/
  --fs-small-text: 11px;
  --fw-bold: 600;
  --fw-regular: 500;
  --fw-thin: 400;
  --bs-primary: 0 10px 10px #00000005;
  --bs-secondary: 0 10px 20px #00000010;
}
